.footer {
    background-color: rgba(2, 29, 2, 0.378);
    color: #d3ebd6;
    padding: 5px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 5px 20px rgba(249, 253, 255, 0.697); 
}

