.spacer{
    flex: 1 1 auto;
}
.nav-title{
    font-size: 3vh;
}
mat-toolbar a:hover {
    background-color: rgb(35, 114, 154);
    color: white;
 }

 .active {
    background-color: rgb(35, 114, 154);
    color: white;
 }

 .custom-toolbar{
    background-color: rgb(171 207 167 / 89%);
    color: #173f24; 
     position: relative; 
    z-index: 1000;  
    height: 100%;
}

mat-toolbar a {
    margin: 0 10px;  
    font-size: large;
}

 
