.container {
  width: 100%;
  max-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    // background: linear-gradient(135deg, #ece9e6, #ffffff);
    font-family: 'Segoe UI', sans-serif;
   }

   .nav-btn{
    margin: auto;
    display: flex
;
    justify-content: space-around;
 
    width: 16vw;
    padding: 0.75rem;
    background-color: rgba(30, 105, 52, 0.9098039216);
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
   }
   

  

   .parent{
    display: flex;
  flex-direction: column;
  width: 100vw;
   }
  .card {
    // background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 420px;
    width: 100%;
    align-items: center;  
  }
  .title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: black;
  }
  .form-group {
    margin-bottom: 1.25rem;
  }
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: black;
  }
  input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    color: black;
  }
  .radio-group {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  .radio-group label {
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: black;
  }
 
  button:disabled {
    background-color: #ccc;
  }
  .result {
    margin-top: 1.5rem;
    text-align: center;
    color: black;
  }
  .category {
    font-size: 1.1rem;
    margin-top: 0.5rem;
  }