<div class="parent" style="display: flex;">
   <div class="container" >
       <div class="card wrapper">
      <h2 class="title">{{'bmiScreen.bmiCalculator' | translate}}</h2>
      <form [formGroup]="bmiForm" (input)="calculateBMI()" (ngSubmit)="calculateBMI()">
        <div class="form-group">
          <label for="gender">{{'bmiScreen.gender' | translate}}</label>
          <div class="radio-group">
            <label><input type="radio" value="male" formControlName="gender"> {{'bmiScreen.male' | translate}}</label>
            <label><input type="radio" value="female" formControlName="gender">  {{'bmiScreen.female' | translate}}</label>
          </div>
        </div>
        <div class="form-group">
          <label for="age"> {{'bmiScreen.age' | translate}}</label>
                     <!-- <label for="age"> {{5}}</label> -->

          <input type="number" formControlName="age" id="age" placeholder="e.g. 30" />
        </div>
        <div class="form-group">
          <label for="height"> {{'bmiScreen.height' | translate}}</label>
          <input type="number" formControlName="height" id="height" placeholder="e.g. 170" />
        </div>
        <div class="form-group">
          <label for="weight"> {{'bmiScreen.weight' | translate}}</label>
          <input type="number" formControlName="weight" id="weight" placeholder="e.g. 65.5" />
        </div>
        <button hidden   class="submit" type="submit" [disabled]="bmiForm.invalid"> {{'bmiScreen.calculate' | translate}}</button>
      </form>
      <div class="result" *ngIf="bmi">
        <p> {{'bmiScreen.result' | translate}} <strong>{{ bmi }}</strong></p>
        <p class="category"> {{'bmiScreen.category' | translate}} <strong>{{ category }}</strong></p>
      </div>

       <button *ngIf="bmi" class="nav-btn" (click)="navigate();" >Next</button>
       </div>
  
 
</div>
</div>
