 
  <div class="supermarket-container wrapper" *ngIf="!loading; else loadingTpl">
    <h1>{{'supermarketScreen.title' | translate}}</h1>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="supermarket-options">
        <button
          *ngFor="let market of supermarkets"
          type="button"
          [class.selected]="isSelected(market.name)"
          (click)="toggleSelection(market.name)"
        >
          {{ getLocalizedName(market.name) }}
        </button>
      </div>

      <button type="submit" class="submit-button" [disabled]="form.value.selectedSupermarkets?.length === 0">
        {{'navigation.next' | translate}}
      </button>
    </form>
 </div> 
<ng-template #loadingTpl>
  <div class="loading-message">{{'supermarketScreen.loading' | translate}}</div>
</ng-template>
