
*{
     font-size: larger;
 }
.wrapper {
    display: flex;
    flex-direction: column;
margin: auto;
    align-self: center;
    margin-top: 90px;
    min-width: 25vw;
    min-height: 50vh;
}
.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{

    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
     color: rgba(32, 60, 21, 0.9411764706);
}

.input-box input{
    background: #ffffff9c;
    margin: auto;
    width: 100% ;
    height: 100% ;
    border: none ;
    outline: none;
        border: 1px solid rgb(32 60 21 / 23%);
    border-radius: 40px;
    font-size: 15px;
     font-size: 18px;
        color: rgba(32, 60, 21, 0.9411764706);
}

.input-box input::placeholder{
    color: rgba(32, 60, 21, 0.9411764706);}

.input-box i{
    position: absolute;
    color: rgb(24, 67, 102);
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;    
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin: -15px 0 15px;
}

 
.remember-forgot label input {
    accent-color: #110202;
     font-size: large;
}

.remember-forgot a {
    font-size: 2vh;
        color: rgba(32, 60, 21, 0.9411764706);
    margin-right: 3px;
}
#checkbox{
    min-width: none;
    min-height: max-content;
}

input:-webkit-autofill{
    font-size: 20px !important;
    background-color: rgb(7, 7, 77);
}

input[type="checkbox"]{
    transform: scale(1.5);
}

.remember-forgot a:hover {
    text-decoration: underline;
 }

.wrapper .btn{
    width:100%;
     height: 45px;
     margin-top: 10%;
     background: rgb(154 202 142);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 5 10px rgba(0,0,0,.1);
    cursor: pointer;
font-size: medium;
        color: rgba(32, 60, 21, 0.9411764706);
     

}
.wrapper .btn:hover {
   background-color: rgb(84, 129, 73);
      color: rgba(228, 232, 226, 0.941);
}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p{
    font-size: larger;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    margin-bottom: 0%;
}



.register-link p a {
        color: rgba(32, 60, 21, 0.9411764706);
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}





