<div *ngIf="register === false" class="wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <h1>Login</h1>
      <div class="input-box">
        <input type="email" placeholder="  Email" formControlName="email" required>
        <i class="bx bxs-user"></i>
      </div>
      <div class="input-box">
        <input type="password" placeholder="  Password" formControlName="password" required>
        <i class="bx bxs-lock-alt"></i>
      </div>
      <div class="remember-forgot">
        <label><input id="checkbox" type="checkbox"> Remember me</label>
        <a href="#" id="forgot">Forgot password?</a>
      </div>
      <button   type="submit" class="btn" (click)="onLogin()">Login</button>

  
      <div *ngIf="!register" class="register-link" (click)="toggleRegister()">
        <p>Don't have an account? <a href="#">Register</a></p>
      </div>
    </form>
</div>

<!-- Register form section -->
<div *ngIf="register" class="wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="submitRegister()">
    <h1>Register</h1>
    <div class="input-box">
      <input type="email" placeholder="  Email" formControlName="email" required>
      <i class="bx bxs-user"></i>
    </div>
    <div class="input-box">
      <input type="password" placeholder="  Password" formControlName="password" required>
      <i class="bx bxs-lock-alt"></i>
    </div>
 
    <button type="submit" class="btn">Register</button>

    <!-- Switch back to login -->
    <div class="register-link">
      <p>
        Already have an account?
        <a href="#" (click)="toggleRegister(); $event.preventDefault()">Login</a>
      </p>
    </div>
  </form>
</div>

<mat-progress-spinner value="50" mode="indeterminate"  *ngIf="loading"  ></mat-progress-spinner>
