<div *ngIf="register === false" class="wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <h1>{{ "loginScreen.login" | translate }}</h1>
    <div class="input-box">
      <input
        type="email"
        placeholder="  Email"
        formControlName="email"
        required
      />
      <i class="bx bxs-user"></i>
    </div>
    <div class="input-box">
      <input
        type="password"
        placeholder="  Password"
        formControlName="password"
        required
      />
      <i class="bx bxs-lock-alt"></i>
    </div>
    <!-- <div class="remember-forgot">
        <label><input id="checkbox" type="checkbox"> Remember me</label>
        <a href="#" id="forgot">Forgot password?</a>
      </div> -->
    <button type="submit" class="btn">{{'loginScreen.login' | translate}}</button>

    <div *ngIf="!register" class="register-link" (click)="toggleRegister()">
      <p>
        {{ "loginScreen.noAccount" | translate }}
        <button class="ugly-btn" type="button" (click)="toggleRegister()">
          {{ "loginScreen.register" | translate }}
        </button>
      </p>
    </div>
  </form>
</div>

<!-- Register form section -->
<div *ngIf="register" class="wrapper">
  <form [formGroup]="registerForm" (ngSubmit)="submitRegister()">
    <h1>{{ "loginScreen.register" | translate }}</h1>
    <div class="input-box">
      <input
        type="email"
        placeholder="  Email"
        formControlName="email"
        required
      />
      <i class="bx bxs-user"></i>
    </div>
    <div class="input-box">
      <input
        type="password"
        placeholder="  Password"
        formControlName="password"
        required
      />
      <i class="bx bxs-lock-alt"></i>
    </div>

    <button type="submit" class="btn">
      {{ "loginScreen.register" | translate }}
    </button>

    <!-- Switch back to login -->
    <div class="register-link">
      <p>
        {{ "loginScreen.haveAccount" | translate }}
        <button class="ugly-btn" type="button" (click)="toggleRegister()">
          {{ "loginScreen.login" | translate }}
        </button>
      </p>
    </div>
  </form>
</div>

   <button class="bypass-link">
 
    <a (click)="bypassLogin(); $event.preventDefault()">{{
      "loginScreen.skip" | translate
    }}</a>
  </button>
 
<mat-progress-spinner
  value="50"
  mode="indeterminate"
  *ngIf="loading"
></mat-progress-spinner>
<!-- ALERT -->
<app-alert-popup
  *ngIf="showAlert"
  [message]="alertMessage"
  [duration]="alertDuration"
  [status]="alertStatus"
  (close)="closeAlert()"
></app-alert-popup>
