<div class="budget-container">
  <h1>{{'budgetPlanner.plan' | translate}}</h1>

  <form [formGroup]="form" (ngSubmit)="generateDays()" class="budget-form">
    <input type="number" placeholder="{{'budgetPlanner.plan' | translate}}" formControlName="budget" />
    <input type="number" placeholder="{{'budgetPlanner.daysToCover' | translate}}" formControlName="daysCount" />
    <button type="submit" [disabled]="form.invalid">{{'budgetPlanner.generateDays' | translate}}</button>
  </form>

  <div class="days-selector" *ngIf="days.length">
    <h2>{{'budgetPlanner.selectDay' | translate}}</h2>
    <div class="days">
      <button
        *ngFor="let day of days"
        (click)="selectedDay = day"
        [class.active]="selectedDay === day"
      >
        {{ day }}
      </button>
    </div>
  </div>

  <div *ngIf="selectedDay" class="category-selector">
  <h3>{{ 'budgetPlanner.selectedDay' | translate: { selectedDay: selectedDay } }}</h3>
    <div class="checkboxes">
      <label *ngFor="let cat of categories">
        <input
          type="checkbox"
          [checked]="isSelected(cat)"
          (change)="toggleCategory(cat)"
        />
        {{ cat }}
      </label>
    </div>
  </div>
</div>
    <button class="btn secondary" (click)="navigate()">{{'navigation.next' | translate}}</button>
