<div class="budget-container">
  <h1 class="centered">{{'budgetPlanner.plan' | translate}}</h1>
<mat-divider class="divider"></mat-divider>
<form [formGroup]="form"   class="budget-form">
  <div class="field-group budget-group">
    <label class="field-label">{{ "budgetPlanner.budget" | translate }}</label>
    <input type="number" placeholder="{{'budgetPlanner.budgetInput' | translate}}" formControlName="budget" />
  </div>

  <div class="field-group days-count-group">
  <label class="field-label">{{ "budgetPlanner.days" | translate }}</label>
  <div class="days-count-input-wrapper">
    <button type="button" (click)="decrementDaysCount()">–</button>
    <input 
      type="number" 
      placeholder="{{'budgetPlanner.daysToCover' | translate}}" 
      formControlName="daysCount" 
      min="1"
    />
    <button type="button" (click)="incrementDaysCount()">+</button>
  </div>
</div>


 </form>


  <div class="days-selector" *ngIf="days.length">
    <h2>{{'budgetPlanner.selectDay' | translate}}</h2>
    <div class="days">
      <button
        *ngFor="let day of days"
        (click)="selectedDay = day"
        [class.active]="selectedDay === day"
        [class.selected]="selectedDay === day"
         [class.missing-category]="missingCategoryDays.includes(day)"
      >
        {{ day }}
      </button>
    </div>
  </div>

<div *ngIf="selectedDay" class="category-selector">
  <h3 style="color: #35696a;">
    {{ 'budgetPlanner.selectedDay' | translate: { selectedDay: selectedDay } }}
  </h3>
  <div class="checkboxes">
   <label *ngFor="let cat of categories">
  <input
    type="checkbox"
    [checked]="isSelected(cat)"
    (change)="toggleCategory(cat)"
  />
  <span class="emoji">{{ getEmoji(cat) }}</span> {{ cat }}
</label>
  </div>
  <button class="btn" (click)="navigate();">{{'navigation.next' | translate}}</button>
</div>
<app-alert-popup
  *ngIf="showAlert"
  [message]="alertMessage"
  [duration]="alertDuration"
  [status]="alertStatus"
  (close)="closeAlert()"
></app-alert-popup>